:root  {
  --color-border:  lightslategray;
  --color-highlight: lightgray;
  --color-tablerow-odd: white;
  --color-tablerow-even: #e4e4e4;

  --font-normal: Verdana, Arial, sans-serif;
  --font-headline: Exocet, Verdana, Arial, sans-serif;
  --font-monospace: "Courier Prime", "Courier New", monospace;
}