@use "./headings";
@use "./block";
@use "./tables";
@use "./inline";
@use "./footnote";

@use "./theme";

*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  font: 12pt var(--font-normal);
  color: var(--color-text);
  background-color: var(--color-background);
}