@use "./vars";

p {
  margin: 0px;
  margin-block-end: 1rem;
}

blockquote {
  margin: 0px;
  margin-block: 1rem;
  padding-inline-start: 1.5rem;
  padding-block: 0.5rem;
  border-inline-start: 0.5rem solid vars.$border-color;
  background-color: vars.$highlight-color;

  >p {
    margin: 0px;
  }
}

pre {
  margin: 0px;
  margin-block: 1rem;
  padding-inline-start: 0.5rem;
  padding-block: 0.5rem;
  background-color: vars.$highlight-color;
}

div.callout {
  border: 1px solid vars.$border-color;
  background-color: #efefef;
  margin-block: 0.5rem;
  padding: 0.5rem;

  &.info {
    background-color: #dcdcef;
  }
  &.warning {
    background-color: #efefdc;
  }
}

dl {
  >dt {
    font-weight: bold;
  }
  >dd {
    border-inline-start: 0.5rem solid vars.$border-color;
    margin: 0px;
    padding-inline-start: 0.5rem;
  }
}