.callout {
  border-color: var(--int-callout-color);

  .callout-title {
    height: 1.25rem;
    font: normal 1.25rem var(--font-heading) !important;
    line-height: 1.25rem;
    color: var(--int-callout-color);
  }
  .callout-symbol {
    font-family: var(--font-symbols);
    font-weight: normal;
    vertical-align: bottom;
    margin-inline-end: 0.5rem;
  }

  &.callout-note {
    --int-callout-color: var(--color-callout-note);
  }

  &.callout-tip {
    --int-callout-color: var(--color-callout-tip);
  }

  &.callout-important {
    --int-callout-color: var(--color-callout-important);
  }

  &.callout-warning {
    --int-callout-color: var(--color-callout-warning);
  }

  &.callout-caution {
    --int-callout-color: var(--color-callout-caution);
 }
}
