code {
  font-family: var(--font-monospace);
}

a {
  color: var(--color-link);
  text-decoration-style: dotted;

  &:hover {
    color: var(--color-link-hover);
    text-decoration-style: dashed;
  }
}