$black: rgb(0, 0, 0);
$gray-6: rgb(16, 16, 16);
$gray-12: rgb(30, 30, 30);
$gray-25: rgb(64, 64, 64);
$gray-50: rgb(128, 128, 128);
$gray-75: rgb(192, 192, 192);
$gray-87: rgb(223, 223, 223);
$gray-94: rgb(240, 240, 240);
$white: rgb(255, 255, 255);

$red: hsl(0, 100%, 66%);
$blue: hsl(240, 100%, 50%);
$green: hsl(120, 100%, 30%);
$purple: hsl(300, 100%, 25%);
$orange: hsl(39, 82%, 50%);
$yellow: hsl(60, 67%, 50%);

$color-light-primary-fg: $black;
$color-light-primary-bg: $white;
$color-light-secondary-fg: $gray-12;
$color-light-highlight-fg: $gray-25;
$color-light-highlight-bg: $gray-87;
$color-light-border: $gray-75;

$color-dark-primary-fg: $white;
$color-dark-primary-bg: $black;
$color-dark-secondary-fg: $gray-87;
$color-dark-highlight-fg: $gray-75;
$color-dark-highlight-bg: $gray-12;
$color-dark-border: $gray-25;

:root {
  // fonts
  --font-normal: Verdana, Arial, sans-serif;
  --font-heading: Diablo;
  --font-monospace: "Courier Prime";
  --font-symbols: Phosphor-Fill;

  // default to light-mode
  color-scheme: light;

  --color-text: $color-light-primary-fg;
  --color-background: #{$color-light-primary-bg};
  --color-border: #{$color-light-border};

  --color-link: #{$color-light-secondary-fg};
  --color-link-hover: #{$color-light-secondary-fg};

  --color-highlight-text: #{$color-light-highlight-fg};
  --color-highlight-background: #{$color-light-highlight-bg};

  --color-table-row-background-even: #{$gray-87};
  --color-table-row-background-odd: #{$gray-94};

  --color-callout-note: #{$blue};
  --color-callout-tip: #{$green};
  --color-callout-important: #{$orange};
  --color-callout-warning: #{$yellow};
  --color-callout-caution: #{$red};

  // override in dark-mode
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --color-text: #{$color-dark-primary-fg};
    --color-background: #{$color-dark-primary-bg};
    --color-border: #{$color-dark-border};

    --color-link: #{$color-dark-secondary-fg};
    --color-link-hover: #{$color-dark-secondary-fg};

    --color-highlight-text: #{$color-dark-highlight-fg};
    --color-highlight-background: #{$color-dark-highlight-bg};

    --color-table-row-background-even: #{$gray-12};
    --color-table-row-background-odd: #{$gray-6};
  }
}

/* Diablo (like) */
@font-face {
  font-family: Diablo;
  src: url("/assets/diablo-light.ttf");
}
@font-face {
  font-family: Diablo;
  src: url("/assets/diablo-heavy.ttf");
  font-weight: bold;
}

/* Code/monospace */
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime.ttf");
}
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime-italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime-bold-italic.ttf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Phosphor-Fill";
  src: url("/assets/Phosphor-Fill.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
