/* Exocet (like) */
@font-face {
  font-family: Exocet;
  src: url("/assets/diablo-light.ttf");
}
@font-face {
  font-family: Exocet;
  src: url("/assets/diablo-heavy.ttf");
  font-weight: bold;
}

/* Code/monospace */
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime.ttf");
}
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime-italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'Courier Prime';
  src: url("/assets/courier-prime-bold-italic.ttf");
  font-style: italic;
  font-weight: bold;
}
