$font-normal: Verdana, Arial, sans-serif;
$font-headline: Exocet, Verdana, Arial, sans-serif;
$font-mono: "Courier Prime", "Courier New", monospace;

$border-color: #939393;

$highlight-color: #d9d9d9;