---
layout: ./base.vto
---
<header>
  <h1 class="title">{{ title }}</h1>
</header>

{{ include "../partials/toc.vto" }}

<section class="content">
  {{ content }}

  {{ include "../partials/footnotes.vto" }}
</section>
