---
layout: ./base.vto
---
<header>
  <h1 class="title">{{ title }}</h1>
</header>

{{ include "./toc/nav.vto" }}

<section class="content">
  {{ content }}

  {{ include "./footnotes.vto" }}
</section>
