<!DOCTYPE html>
<html>
  <head>
    <title>{%if title %}{{title}} :: {% endif %}{{ site.title }}</title>
    <meta charset="utf-8"/>
    <meta itemprop="created" content="{{ date.toISOString() }}"/>
    <link rel="stylesheet" href="/styles/main.css" />
    <style>{{ style | safe }}</style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>