<!DOCTYPE html>
<html>
  <head>
    <title>{{if title }}{{title}} :: {{ /if }}{{ site.title }}</title>
    <meta charset="utf-8"/>
    <meta itemprop="created" content="{{ date.toISOString() }}"/>
    <link rel="stylesheet" href="/styles/main.css" />
    <style>{{ style }}</style>
  </head>
  <body>
    {{ content }}
  </body>
</html>