{{ if toc.length }}
<ol>
{{ for item of toc }}
<li>
  <a href="#{{ item.slug}}">{{ item.text }}</a> {{ depth }}/{{ site.tocMaxDepth }}

  {{ if item.children.length && (depth < site.tocMaxDepth) }}
  {{ include "./item.vto" { depth: depth + 1, toc: item.children } }}
  {{ /if }}
</li>
{{ /for }}
</ol>

{{ /if }}