apiVersion: v1
kind: Service
metadata:
  name: website
  namespace: website
spec:
  selector: 
    app: website
  ports:
    - port: 4000
      targetPort: 4000
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: website
  namespace: website
spec:
  parentRefs:
    - name: gateway
      namespace: istio-public-ingress
      sectionName: https
  rules:
    - backendRefs:
        - name: website
          namespace: website
          port: 4000
